<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="test">
      <ion-icon class="test-icon"></ion-icon>
      <ion-label>Test</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="progress">
      <ion-icon class="progress-icon"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon class="home-icon"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon class="search-icon"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon class="settings-icon"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
