<ion-tabs>

  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon class="test-icon"></ion-icon>
      <ion-label>test</ion-label>
    </ion-tab-button>

    <ion-tab-button>
     <ion-icon class="progress-icon"></ion-icon>
      <ion-label>progress</ion-label>
    </ion-tab-button>

    <ion-tab-button >
     <ion-icon class="home-icon"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>
    <ion-tab-button>
     <ion-icon class="search-icon"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
   <ion-tab-button tab="search">
  <ion-icon class="settings-icon"></ion-icon>
  <ion-label>Setting</ion-label>
</ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

