/* This style is for demonstration purposes only. */
/* It's not required for the tabs to function. */
.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.progress-icon {
  width: 24px;
  height: 24px;
  background-image: url('/assets/icon/progress.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.home-icon {
  width: 24px;
  height: 24px;
  background-image: url('/assets/icon/home.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.test-icon {
  width: 24px;
  height: 24px;
  background-image: url('/assets/icon/test.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.search-icon {
  width: 24px;
  height: 24px;
  background-image: url('/assets/icon/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.settings-icon {
  width: 24px;
  height: 24px;
  background-image: url('/assets/icon/settings.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


