.category-title {
  text-align: center; /* Center align title */
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.subject-card {
  border-radius: 15px;
  background: linear-gradient(to bottom, white, #f0f8ff); // light blue overlay
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  text-align: center;
}

.subject-icon {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  display: block;
}

.subject-name {
  font-weight: 500;
  margin-top: 5px;
  color: #333;
}
