<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-container ion-text-center">

    <div class="profile-avatar-container">
      <ion-avatar class="profile-avatar">
        <img [src]="user?.photoURL || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Profile Image">
      </ion-avatar>
      
      
      <ion-button class="edit-button" fill="clear" (click)="triggerFileInput()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </div>


    <input type="file" accept="image/*" #fileInput hidden (change)="uploadPhoto($event)">

   
</div>
<div>
   <h2>{{ user?.fullName }}</h2>
    <p>{{ user?.email }}</p>
</div>
    

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="danger" (click)="goTologout()">
      Logout
    </ion-button>
  </ion-toolbar>
</ion-footer>
