ion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin-top: 10px;
  color: black;
}

p {
  color: black;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar-container {
  position: relative;
  display: inline-block;
}

.profile-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%; // ensures circle crop
  object-fit: cover;  // maintains image aspect ratio within circle
}

.edit-button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; /* ensure image is clipped within circle */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensures the image covers the circle without stretching */
    border-radius: 50%;
  }
}
.custom-toast {
  --background: #00c9a7;
  --color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  font-size: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

